[phases.setup]
nixPkgs = ["nodejs"]

[phases.install]
cmds = ["npm install"]

[phases.build]
cmds = [
  "cd app && npm install && npm run build:web && cd ..",
  "npm run build"
]

[start]
cmd = "npx serve -s dist -l $PORT"
